<div class="component-viewer-nav">
  <div class="component-viewer-nav-content">

    <mat-card class="mat-card-flat">
      <div fxLayout="row" class="container" fxLayoutAlign="center center">
        <ngx-avatar name="Bhaskaran Rathnachalam" value="24%" size="50" [round]="true">
        </ngx-avatar>
      </div>
      <div fxLayout="row" class="container_text" style="margin-top:10px;" fxLayoutAlign="center center">
        <span>Bhaskaran Rathnachalam</span>
      </div>

      <hr>
      <div fxLayout="row" class="container_text" style="margin-top:30px;"  fxLayoutAlign="center center">
           {{following}}
          <span>Following</span>
      </div>
      <hr>
      <div fxLayout="row" class="container_text" style="margin-top:30px;"  fxLayoutAlign="center center">
          {{followers}}
         <span>Followers</span>
     </div>
    </mat-card>

    <nav *ngFor="let category of menuItems.getCategories(path); let last = last;">
      <button (click)="toggleExpand(category.id)" class="nav-content-btn" [attr.aria-label]="category.name + ', section toggle'"
        [attr.aria-controls]="'panel-' + category.id" [attr.aria-expanded]="getExpanded(category.id)">
        {{category.name}}
        <mat-icon *ngIf="!getExpanded(category.id)">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="getExpanded(category.id)">keyboard_arrow_up</mat-icon>
      </button>
      <ul [@bodyExpansion]="_getExpandedState(category.id)" id="panel-{{category.id}}">
        <li *ngFor="let component of category.items">
          <a [routerLink]="'/' + path + '/' + category.id + '/' + component.id" routerLinkActive="component-viewer-sidenav-item-selected">
            {{component.name}}
          </a>
        </li>
      </ul>
      <hr *ngIf="!last" />
    </nav>
  </div>
</div>