<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>Karmasoc</h1>
      <div class="actions">
        <!--a [ngClass]="animateOnRouteEnter"
           mat-raised-button class="actions-main" color="primary" routerLink="../features">
          Features
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
           [ngClass]="animateOnRouteEnter">
          Examples
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="animateOnRouteEnter">
          <i class="fa fa-gear"></i> Change Theme
        </a-->
        <br>
      </div>
    </div>
  </div>
</div>
