@mixin component-category-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .component-category-list-card-summary {
    color: mat-color($foreground, secondary-text);
  }
}
