<!-- <div>
    <ng-container *ngFor='let comment of comments'>
        <comment-item [item]="comment" (onDelete)="deleteComment($event)">
        </comment-item>
    </ng-container>
    <button mat-icon-button>
                <i class="material-icons">expand_more</i>
    </button>
</div> -->
<div>
    <ng-container>
        <comment-item>
        </comment-item>
    </ng-container>
    <!-- <button mat-icon-button>
                    <i class="material-icons">expand_more</i>
        </button> -->
</div>