<div *ngIf="loading$ | async">
    Loading ...
  </div>

<mat-card class="mat-card-flat" *ngIf="me$ | async as me">
        <div fxLayout="row" class="container" fxLayoutAlign="center center">
            <ngx-avatar [name]="me.name" value="24%" size="50" [round]="true">
            </ngx-avatar>
        </div>
        <div fxLayout="row" class="container_text" style="margin-top:10px;" fxLayoutAlign="center center">
            <span>{{me.profile.name}}</span>
        </div>
    
        <hr>
        <div fxLayout="row" class="container_text" style="margin-top:30px;"  fxLayoutAlign="center center">
                {{me.followingCount}}
            <span>Following</span>
        </div>
        <hr>
        <div fxLayout="row" class="container_text" style="margin-top:30px;"  fxLayoutAlign="center center">
            {{me.followersCount}}
            <span>Followers</span>
        </div>
</mat-card>