@import '~@angular/material/theming';

@mixin ksoc-stock-market-component-theme($theme) {
  $warn: map-get($theme, warn);

  ksoc-stock-market {
    mat-card {
      span {
        &.negative {
          color: mat-color($warn);
        }
      }
    }

    .error {
      i {
        color: mat-color($warn);
      }
    }
  }
}
