@import '~@angular/material/theming';

@mixin ksoc-child-component-theme($theme) {
  $warn: map-get($theme, warn);

  ksoc-child {
    > div {
      border-color: mat-color($warn);

      > h2 {
        color: mat-color($warn);
      }
    }
  }
}
