@mixin side-bar-container-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .sbc-container {
    border-left: solid 4px mat-color($primary);

    .link {
      color: mat-color($foreground, secondary-text);
      transition: color 100ms;

      &:hover,
      &.active {
        color: mat-color($primary);
      }
    }
  }
}
