<span class="cdk-visually-hidden" tabindex="-1" #intialFocusTarget>
  feature feeds
</span>
<mat-card (click)="openNewPostDialog()" class="z-depth-1 mat-elevation-z">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div style="margin-left:15px" fxLayoutGap="20px">
      <span role="button">What's new with you?</span>
    </div>
    <span fxFlex></span>
    <button mat-icon-button>
      <mat-icon>insert_photo</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>location_on</mat-icon>
    </button>
  </div>
</mat-card>

<!-- <app-post-list (endOfListReachedEvent)=searchMore($event) 
            [viewMode]="'FEEDVIEW'" 
            [posts]="items$ | async" 
            [loading]="loading$ | async" 
            [allPreviewsLoaded]="allPostsLoaded$ | async" 
            (openPostInDialog)="navigateToPostDialog($event)" 
            (activatePostPreviewEvent)="navigateToPost($event)"></app-post-list> -->
            
<side-bar-container #sbc container=".mat-drawer-content" *ngIf="showSbc | async"></side-bar-container>