$g-options-width: 300px;
$mobile: 640px;
@mixin mobile() {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

.red-reactions {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background-color: rgb(14, 7, 7);
    color: black;
}

.mat-card-title{
    font-size:13px !important;
    .bold{
        font-weight:600;
    }
}
.content {
    margin: 3em 0;
    display: block;
    width: 100%;
    section {
        margin-bottom: 3em;
    }
    .config-scheme {
        p {
            padding: 1em;
            background-color: rgba(lightgray, 0.2);
        }
        p,
        li {
            display: flex;
            align-items: center;
        }
        li {
            padding: 1em;
        }
        ul {
            list-style: circle;
            padding-left: 1em;
            background-color: rgba(lavenderblush, 0.8);
        }
        span {
            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
            font-size: 0.8em;
            //color: rgba(black, 0.6);
            text-align: right;
            flex: 1;
        }
    }
}

.div-section {
    border-bottom: 1px solid #eee;
}

.g-modal {
    right: $g-options-width !important;
    @include mobile() {
        right: 0 !important;
    }
}

.g-options-padding {
    padding-right: $g-options-width;
    @include mobile() {
        padding-right: 0;
    }
}

gallery-options.g-options {
    width: $g-options-width;
    @include mobile() {
        display: none;
    }
}

.post_item_div {
    padding: 10px 0 10px 10px;
    .post_user_name {
        // color: rgba(0, 0, 0, 0.87);
        font-size: 14px;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        padding-left: 5px !important;
        font-weight: 500;
        padding-right: 2px !important;
        margin-top: -6px;
    }
    mat-icon {
        color: #9e9e9e;
        font-size: 18px;
    }
    .post_status {
        // color: rgba(0, 0, 0, 0.54);
        font-size: 10px;
        max-width: 100%;
        position: absolute;
        top: 3.5em;
        padding-left: 5px;
        text-transform: capitalize;
        mat-icon {
            margin-top: 2px;
            font-size: 14px;
        }
        p {
            padding-left: 3px;
        }
    }
}

.like_count_post {
    font-size: 20px;
    margin-left: 4px;
    color: #757575;
    margin-right: -10px;
    font-size: 20px;
}

.emoji_icon {
    padding: 5px 0 10px 0;
    mat-icon {
        color: #757575;
    }
}

.mat-card-header-text {
    margin: 0px!important;
}

.likelength {
    margin-left: 20px;
}

.commentcard {
    margin-top: 5px;
}

.photocard-all {
    width: 150px;
    margin: 2px;
    margin-bottom: 5px;
    justify-content: center;
}

.photocard-xs {
    width: 100px;
    justify-content: center;
}

.mat-card .container {
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    width: 50px;
    height: 50px;
}

.mat-card .container:hover>.hover {
    opacity: 1;
}

agm-map {
    height: 200px;
    width: 100%;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.location-container {
    overflow-y: scroll;
    height: 50vh;
    padding: 1em;
}

.text {
    font-size: 17px;
    font-weight: 400;
}

.post_comment_view {
    position: relative !important;
    bottom: -1px;
    padding-bottom: 0 !important;
}

.post-photos {
    width: 100px;
}

.share-section {
    button {
        .more_horiz {
            margin-top: -1em;
        }
    }
    .follow-btn {
        margin-right: 1em;
    }
    .time_details {
        position: relative;
        top: -1em;
        padding-left: 4px;
        font-size: 12px;
        mat-icon {
            padding-left: 2px
        }
    }
}

.post_item_div {
    padding: 10px 0 10px 10px;
    .post_user_name {
        // color: rgba(0, 0, 0, 0.87);
        font-size: 14px;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        padding-left: 5px !important;
        font-weight: 500;
        padding-right: 2px !important;
        margin-top: -6px;
    }
    mat-icon {
        color: #9e9e9e;
        font-size: 18px;
    }
    .post_status {
        color: rgba(0, 0, 0, 0.54);
        font-size: 10px;
        max-width: 100%;
        position: absolute;
        top: 3.5em;
        padding-left: 5px;
        text-transform: capitalize;
        mat-icon {
            margin-top: 2px;
            font-size: 14px;
        }
        p {
            padding-left: 3px;
        }
    }
}

.like_count_post {
    font-size: 20px;
    margin-left: 4px;
    color: #757575;
    margin-right: -10px;
    font-size: 20px;
}

.emoji_icon {
    padding: 5px 0 10px 0;
    mat-icon {
        color: #757575;
    }
}

.mat-card-header-text {
    margin: 0px!important;
}

.likelength {
    margin-left: 20px;
}

.photocard-all {
    width: 150px;
    margin: 2px;
    margin-bottom: 5px;
    justify-content: center;
}

.photocard-xs {
    width: 100px;
    justify-content: center;
}

.mat-card .container {
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    width: 50px;
    height: 50px;
}

.mat-card .container:hover>.hover {
    opacity: 1;
}

agm-map {
    height: 200px;
    width: 100%;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.location-container {
    overflow-y: scroll;
    height: 50vh;
    padding: 1em;
}

.text {
    font-size: 17px;
    font-weight: 400;
}

.post_comment_view {
    position: relative !important;
    bottom: -1px;
    padding-bottom: 0 !important;
}

.card {
    /* height: 400px; */
    padding: 1em !important;
}

.containerX {
    padding: 1em;
}

mat-card-title {
    overflow: hidden;
    word-wrap: break-word;
}

mat-card-content p {
    overflow: hidden;
    word-wrap: break-word;
}

mat-card-footer {
    margin: 0 !important;
    padding-bottom: 5px;
}

.brick {
    height: auto;
    width: 18vw;
    display: inline-block;
    margin-top: 1.5em;
}

@media screen and (max-width: 1328px) {
    .brick {
        height: auto;
        width: 20vw;
        display: inline-block;
    }
    masonry {
        position: relative;
        left: 2em;
    }
}

@media screen and (max-width: 1024px) {
    .brick {
        height: auto;
        width: 25vw;
        display: inline-block;
    }
    /* masonry
      {
        position: relative;
        left: 2em;
      } */
}

@media screen and (max-width: 480px) {
    .brick {
        height: auto;
        width: 85vw;
        display: inline-block;
    }
    masonry {
        position: relative;
        left: 0 !important;
    }
}

.dashboard-grid {
    margin: 1% 3.5vw;
}

.mat-card-footer {
    position: initial !important;
}

// .mat-card-image:first-child {
//     margin-top: 5em !important;
// }
.user_name {
    margin-top: 2em;
    font-size: initial !important;
    // color: rgba(0, 0, 0, 0.7);
    margin-left: -5px;
}

.post_date {
    margin-bottom: 0;
    margin-left: 5px;
}

*,
*:before,
*:after {
    box-sizing: border-box !important;
}

//   .photos_card
//   {
//       height: 250px;
//   }
.photo_date {
    padding-top: 1em;
    margin-bottom: 0;
    font-weight: 600;
    padding-left: 5px;
}

.mat-card-image:first-child {
    margin-top: 5px !important;
}
#avatar_mansory_view
{
    position: relative;
    top: 0.6em;
    left: 0.5em;
}
.open_window_menu{
    cursor:pointer;
    position: absolute;
    right: 0;
    top: 0.6em;
}

@media screen and (max-width: 500px) {
        .feed_view
        {
            // margin: -5px;
            // margin-top: 10px;
        }
    }
    @media screen and (max-width: 959px) {
        .open_window_menu{
            cursor:pointer;
            position: absolute;
            right: 0;
            top: 5em;
        }
    }