<!-- <button *ngIf="this.prev" (click)="goback()" mat-icon-button color="primary">
     <mat-icon>arrow_back</mat-icon>
 </button>
<div fxLayout="column" fxLayoutWrap="wrap" *ngFor='let post of data?.postByPostId;' fxLayoutAlign="center center">
    <post-item [viewMode]="'FEEDVIEW'" [item]="post" *ngIf="post ">
    </post-item>
</div> -->
<!-- <div  fxLayout="row" fxLayoutWrap="wrap" class="post-detail-page">
    <div fxFlex="70" fxFlex.xs="100" fxLayoutAlign="center center" class="img-prev">
        <button class="btn-back" (click)="goback()" mat-icon-button color="primary">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div>
            <img src="https://www.w3schools.com/w3images/fjords.jpg">
        </div>
    </div>
</div> -->
<div  fxLayout="row" fxLayoutWrap="wrap" class="post-detail-page">
<mat-sidenav-container class="example-container">
    <div fxLayoutAlign="center center" class="img-prev">
        <button class="btn-back" (click)="goback()" mat-icon-button color="primary">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div>
            <img class="img-size" src="https://www.w3schools.com/w3images/fjords.jpg">
        </div>
    </div>
        <mat-sidenav #sidenav opened="true" align="end" mode="side" class="example-sidenav">
            <div fxLayout="column">
                <div fxLayout="row"  fxLayoutAlign="space-between center">
                    <div>
                        <img class="avatar" src="https://www.w3schools.com/w3images/fjords.jpg">
                    </div>
                    <div class="user-name">Shiba Inu</div>
                    <div>
                        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>Item 1</button>
                          <button mat-menu-item>Item 2</button>
                        </mat-menu>
                        
                        <button (click)="sidenav.close()" mat-icon-button color="primary">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div> 
                <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
                </p>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </div>
        </mat-sidenav>
      
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="sidenav.open()">
            Open sidenav
          </button>
          <button type="button" mat-button (click)="sidenav.close()">
                close sidenav
              </button>
        </div>
      
      </mat-sidenav-container>
    </div>