:host {
    overflow: hidden;
}

.photocards {
    width: 100%;
    height: 100%;
}

article {
    -moz-column-width: 17em;
    -webkit-column-width: 17em;
    -moz-column-gap: 0em;
    -webkit-column-gap: 0em;
    margin-top: 0.5em;
    column-width: 17em;
}
.example-card mat-card-header img
{
  margin-left: 15px;
  margin-top: 10px;
}

section {
    display: inline-block;
    width: 100%;
}
.photo-section span
{
    max-width: 100%;
    background: #4CAF50;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 1em 1em 0 0;
    text-transform: capitalize;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
}
@media screen and (max-width: 500px) {
    .post-div
    {
        margin-top:1em;
        margin-bottom: 1em;
    }
}
