<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <div class="branding"><img [src]="logo"/> <span>Ksoc</span></div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
           [routerLink]="[item.link]" routerLinkActive="active">
          {{item.label}}
        </a>

      </mat-nav-list>
    </mat-sidenav>
  
    <div class="wrapper">
      <div class="toolbar">
        <mat-toolbar color="primary">
          <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
  
          <span routerLink="" class="branding spacer center d-inline d-sm-none">
            <img [src]="logo"/></span>
          <span routerLink=""
                class="branding spacer center d-none d-sm-inline d-md-none"><img
            [src]="logo"/> Karmasoc</span>
          <span routerLink="" class="branding spacer d-none d-md-inline"><img
            [src]="logo"/> Karmasoc</span>
  
          <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navigation"
                [routerLink]="[item.link]" routerLinkActive="active">
              {{item.label}}
            </button>
          </span>
  
          <button mat-button class="sign-in-button "
                  *ngIf="!isAuthenticated"
                  (click)="openLogin()">
            Sign in
          </button>
  
          <button *ngIf="isAuthenticated"
                  mat-icon-button
                  [matMenuTriggerFor]="toolbarUserMenu">
            <mat-icon>person</mat-icon>
          </button>

          <mat-menu #toolbarUserMenu="matMenu">
            <button mat-menu-item (click)="onLogoutClick()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
  
          <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
            <mat-icon>settings</mat-icon>
          </button>
  
        </mat-toolbar>
      </div>
  
      <div class="content"
           [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
        <router-outlet #o="outlet"></router-outlet>
      </div>
  
      <div  *ngIf="!isAuthenticated" class="footer">
        <div class="row">
          <div class="col-sm-12 links">
            <a href="https://www.medium.com/ksoc" target="_blank">
              <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
              <span>Medium</span>
            </a>
            <a href="https://www.twitter.com/ksoc" target="_blank">
              <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
              <span>Twitter</span>
            </a>
            <a href="https://www.youtube.com/channel/UC7XgRHIVoqnh3U5Vmly9ofQ"
               target="_blank">
              <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
              <span>Youtube</span>
            </a>
            <a href="https://www.instagram.com/ksoc" target="_blank">
              <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
              <span>Instagram</span>
            </a>
            <a href="https://www.slides.com/ksoc" target="_blank">
              <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
              <span>Slides</span>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 signature">
            &#169; {{year}} - Karmasoc
            <br class="d-block d-sm-none">
          </div>
        </div>
      </div>
  
    </div>
  
  </mat-sidenav-container>