<mat-card class="image_picker_popup">

    <mat-card-title class="lead_text"><i class="material-icons close_icon">close</i>Pick a photo</mat-card-title>

    <mat-card-content class="text_con_wrapper">
        <mat-card-subtitle class="sub_text">Changes that you make here will be visible to other Google users. Go to Picasa Web Albums to manage your photo album. To learn more about how your photos appear across Google, click here.<a href="#">Learn more</a></mat-card-subtitle>
    </mat-card-content>

</mat-card>