<div>
    <h3 class="profile_info_section_compoment__title" mat-dialog-title>Add Info</h3>
    <mat-list>
        <mat-list-item style="cursor:pointer">Work Contact Info </mat-list-item>
        <mat-list-item style="cursor:pointer"> Sites </mat-list-item>
        <mat-list-item style="cursor:pointer"> Story </mat-list-item>
    </mat-list>

    <mat-dialog-actions align="end" class="add_business_popup_con__action_con">
        <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    </mat-dialog-actions>
</div>