.profile_info_section_compoment {
    width: 400px;
    overflow-x: hidden;
    height: 400px;
}

.profile_info_section_compoment__subtitle_icon {
    margin-top: 14px;
}

.profile_info_section_select {
    margin-top: -1em;
}

@media screen and (max-width: 600px) {
    .profile_info_section_compoment {
        width: 300px
    }
    mat-form-field {
        width: 100% !important;
    }
}