.api-class-name {
  margin-top: 28px;
  margin-bottom: 0;
  display: block;
  font-weight: bold;
  font-size: 20px;
  background: none;

  code {
    background: none;
  }
}

.api-h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  margin: 40px 0 20px;
  padding-bottom: 3px;
}

.api-method-name-cell,
.api-method-header,
.api-method-description-cell,
.api-property-description,
.api-class-export-label,
.api-directive-selectors,
.api-class-description,
.api-class-export-name {
  font-size: 15px;
}

.api-class-description {
  line-height: 24px;
}

.api-property-type {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}
