@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

@import '../node_modules/font-awesome/scss/font-awesome';

@import 'styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'default-theme.scss';
@import 'light-theme.scss';
@import 'black-theme.scss';
@import 'nature-theme.scss';

@import 'styles-reset.scss-theme';
@import 'app/welcome/welcome.component.scss-theme';
@import 'app/home/home.component.scss-theme';

@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/static/about/about.component.scss-theme';
@import 'app/trending/trending.component.scss-theme';


@mixin custom-components-theme($theme) {
  @include ksoc-styles-reset-theme($theme);
  @include ksoc-welcome-component-theme($theme);
  @include ksoc-home-component-theme($theme);
  @include ksoc-about-component-theme($theme);
  @include ksoc-big-input-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($ksoc-theme);
  @include custom-components-theme($ksoc-theme);
}

.light-theme {
  @include angular-material-theme($ksoc-light-theme);
  @include custom-components-theme($ksoc-light-theme);
}

.black-theme {
  @include angular-material-theme($ksoc-black-theme);
  @include custom-components-theme($ksoc-black-theme);
}

.nature-theme {
  @include angular-material-theme($ksoc-nature-theme);
  @include custom-components-theme($ksoc-nature-theme);
}
