<div class="content" fxLayoutAlign="center">
    <h2 mat-dialog-title>Edit Profile</h2>
    <div fxFlex="60" fxLayout="column" class="edit_profile_popup">

        <mat-dialog-content class="card_content cover_image" style="background-image: url('https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/16836397_1278845888871117_1523645841971278945_o.jpg?_nc_eui2=v1%3AAeGsKwCGrdkICEiJlZi8XzHLpd_62qnn729tUpP-gLT6QdKTn5nlQE18aYGwWsVeXZr7PZU_uoYr8RaD6l8RnazZOqND4dK8yKX4dWoEdsN3wA&oh=afd4cce516514773bc02ffbdf2b4f208&oe=596A1CC8');">

            <div class="profile_icon_con">
                <img mat-card-image class="profile_icon_image" src="https://lh3.googleusercontent.com/-feWckKvmys4/AAAAAAAAAAI/AAAAAAAAAOM/P0CFbUymX4U/s240-p-rw-no/photo.jpg">
            </div>

            <div class="edit_cover_image_con">
                <i class="edit_icon material-icons">photo_camera</i>
            </div>

        </mat-dialog-content>

        <mat-dialog-actions fxFlex fxLayoutAlign="end none" class="card_action_con">
            <button mat-button class="cancel_btn">CANCEL</button>
            <button mat-button class="save_btn">SAVE</button>
        </mat-dialog-actions>

    </div>
</div>