.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: 50% 90% !important;
    background-repeat: no-repeat;
}

.full-width {
    width: 100%;
}

md-input {
    display: block;
}

mat-spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

.error {
    color: red;
    font-weight: bold;
}
.signup{
    width: 350px;
}
.signup-text{
    color: #4CAF50;
}
.text{
    padding-bottom: 1em;
}
.mat-card-content{
    margin-bottom: 0 !important;
}
@media screen and (max-width: 455px){
    .signup{
        width: 240px;
    } 
}

